on: [push]

jobs:
  iot_edge_dev:
    runs-on: ubuntu-latest
    name: run IoT Edge Dev
    steps:  
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'mandur/iotedge-lorawan-starterkit'
      - run: |
          ls -a $GITHUB_WORKSPACE
          cd $GITHUB_WORKSPACE
          pwd
      # - name: Azure Login
      #   uses: Azure/login@v1
      #   with:
      #   # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}
      # - name: Hello world action step
      #   uses: ./ # Uses an action in the root directory
      #   id: hello
      #   with:
      #     iothub_connection_string: ${{ secrets.iothubconnectionstring }}
