on: [push]

jobs:
  iot_edge_dev:
    runs-on: ubuntu-latest
    name: run IoT Edge Dev
    steps:  
      - name: Checkout
        uses: actions/checkout@v2
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'mandur/iotedge-lorawan-starterkit'
          path: 'lora'
      - run: cat ./lora/LoRaEngine/example.env
      # - name: Azure Login
      #   uses: Azure/login@v1
      #   with:
      #   # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}
      # - uses: cschleiden/replace-tokens@v1
      #   with:
      #     files: '[".env"]'
      #   env:
      #     PKT_FWD_VERSION: 1.0.0
      #     CONTAINER_REGISTRY_USERNAME: "ads"
      #     CONTAINER_REGISTRY_PASSWORD: "asd"
      #     CONTAINER_REGISTRY_ADDRESS: "asd"
      #     NET_SRV_LOG_LEVEL: 0
      #     NET_SRV_LOGTO_HUB: true
      #     NET_SRV_LOGTO_UDP: false
      #     NET_SRV_IOTEDGE_TIMEOUT: 1000
      #     NET_SRV_LOG_TO_UDP_ADDRESS: "192.168.1.1"
      #     EDGEHUB_ROUTE: "asd"
      #     RESET_PIN: 7
      #     REGION: "EU"
      #     PKT_FWD_SPI_SPEED: 1500
      #     PKT_FWD_SPI_DEV: 2
      #     FACADE_SERVER_URL: "asd"
      #     NET_SRV_VERSION: 1.0.0
      #     FACADE_AUTH_CODE: "asd"
      
      - name: Iot Edge Dev
        uses: ./ # Uses an action in the root directory
        id: edgedev_build
        with:
          command: build
        env:
          CONTAINER_REGISTRY_ADDRESS: "Image"
          templateFilePath: "$GITHUB_WORKSPACE/lora/LoRaEngine/deployment.test.template.json"
