on: [push]

jobs:
  iot_edge_dev:
    runs-on: ubuntu-latest
    name: run IoT Edge Dev
    steps:  
      - name: Checkout
        uses: actions/checkout@v2
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: 'mandur/iotedge-lorawan-starterkit'
          path: 'lora'
      - run: ls
      - name: Azure Login
        uses: Azure/login@v1
        with:
        # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Iot Edge Dev
        uses: ./ # Uses an action in the root directory
        id: edgedev_build
        with:
          iothub_connection_string: ${{ secrets.iothubconnectionstring }}
        env:
          PKT_FWD_VERSION: 1.0.0
          CONTAINER_REGISTRY_USERNAME: "ads"
          CONTAINER_REGISTRY_PASSWORD: "asd"
          CONTAINER_REGISTRY_ADDRESS: "asd"
          container_registry_address: "asd"
          EDGEHUB_ROUTE: "asd"
          FACADE_SERVER_URL: "asd"
          NET_SRV_VERSION: 1.0.0
          FACADE_AUTH_CODE: "asd"